In [1]:
for i in range(1,6):
    for j in range(1,6):
        if j<=i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*
**
***
****
*****

*****
****
***
**
*

In [2]:
for i in range(1,6):
    for j in range(1,6):
        if j<=6-i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
****
***
**
*

In [ ]:
    *
   **
  ***
*****

In [3]:
for i in range(1,6):
    for j in range(1,6):
        if j>=6-i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

    *
   **
  ***
 ****
*****

In [5]:
for i in range(1,6):
    k= "+" if i%2==0 else "*"
    for j in range(1,6):
        if j>=6-i:
            print(k,end="")
        else:
            print(" ",end="")
    print()

    *
   ++
  ***
 ++++
*****

In [ ]:
  *
 ***
*****

In [ ]:
i  j
1  j>=3 and j<=3
2  j>=2 and j<=4

In [6]:
for i in range(1,4):
    for j in range(1,6):
        if j>=4-i and j<=2+i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

  *
 ***
*****

In [44]:
for i in range(1,4):
    for j in range(1,6):
        if j>=4-i and j<=2+i:
            print(i,end="")
        else:
            print(" ",end="")
    print()

  1
 222
33333

In [131]:

for i in range(1,4):
    k=1
    for j in range(1,6):
        if j>=4-i and j<=2+i:
            print(k,end="")
            k=k+1 if j<3 else k-1
        else:
            print(" ",end="") 
    print()

  1
 121
12321

In [149]:

for i in range(1,4):
    k=i
    for j in range(1,6):
        if j>=4-i and j<=2+i:
            print(k,end="")
            k=k+1 if j<3 else k-1
        else:
            print(" ",end="") 
    print()

  1
 232
34543

In [182]:
for i in range(1,5):
    for j in range(1,8):
        if j>=5-i and j<=3+i:
            if i%2==0:
                print(" ",end="")
            else:
                print("*",end="")
        else:
            print(" ",end="") 
    print()

   *

 *****

In [162]:
k=1
for i in range(1,6):

    for j in range(1,8):
        if j>=4-i and j<=2+i:
            print(k,end="")
            k=5-k
        else:
            print(" ",end="") 
    print()

  1
 414
14141
414141
4141414

In [ ]:
*****
 ***
  *

In [ ]:
i  j
1  j>=1 and j<=5
2  j>=2 and j<=4

In [164]:
for i in range(1,4):
    for j in range(1,6):
        if j>=i and j<=6-i:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
 ***
  *

In [43]:
for i in range(1,4):
    for j in range(1,6):
        if j>=i and j<=6-i:
            print(i,end="")
        else:
            print(" ",end="")
    print()

11111
 222
  3

In [ ]:
*****
 ***
  *
 ***
*****

In [11]:
k=0
for i in range(1,6):
    k=k+1 if i<=3 else k-1
    for j in range(1,6):
        if j>=k and j<=6-k:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
 ***
  *
 ***
*****

In [ ]:
***** 
*   *
*   *
*   * 
*   *

In [ ]:
for i in range(1,6):
    k=k+1 if i<=3 else k-1
    for j in range(1,6):
        if j>=k and j<=6-k:
            print("*",end="")
        else:
            print(" ",end="")
    print()

In [15]:
for i in range(1,5):
    for j in range(1,5):
        print(i,end="")
    print()

1111
2222
3333
4444

In [16]:
for i in range(1,5):
    for j in range(1,5):
        print(j,end="")
    print()

1234
1234
1234
1234

In [18]:
for i in range(1,5):
    for j in range(1,5):
        print(chr(64+i),end="")
    print()

AAAA
BBBB
CCCC
DDDD

In [20]:
for i in range(1,5):
    for j in range(1,5):
        print(chr(96+i),end="")
    print()

aaaa
bbbb
cccc
dddd

In [29]:
for i in range(5,0,-1):
    for j in range(5,0,-1):
        print(j,end="")
    print()

54321
54321
54321
54321
54321

In [32]:
for i in range(1,5):
    for j in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444

In [37]:
for i in range(1,5):
    for j in range(1,5):
        if j<=5-i:
            print(5-j,end="")
        else:
            print(" ",end="")
    print()

4321
432
43
4

In [40]:
ord("E")

69

In [42]:
for i in range(1,5):
    for j in range(1,5):
        if j<=5-i:
            print(chr(69-j),end="")
        else:
            print(" ",end="")
    print()

DCBA
DCB
DC
D

In [189]:
for i in range(1,6):
    for j in range(1,6):
        if j==1 or j==5 or (i==1 or i==3 and j>1):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
*   *
*****
*   *
*   *

In [196]:
for i in range(1,6):
    for j in range(1,6):
        if j==1 or (i==1 or i==3 and j>1):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
*
*****
*
*