In [20]:
def solve(n):
    if n==0:
        return 0
    if n==1 or n==2:
        return 1
    else:
        return solve(n-1)+solve(n-2)

In [21]:
solve(10)

55

In [22]:
for i in range(10):
    print(solve(i))

0
1
1
2
3
5
8
13
21
34

In [27]:
def solve(a,b):
    if b==0:
        return 1
    else:
        print(a)
        return a*solve(a,b-1)

In [28]:
solve(2,3)

2
2
2

8

In [30]:
def solve(st,v=0):
    if len(st)==0:
        return v
    elif st[0].lower() in ["a","e","i","o","u"]:
        v+=1
    return solve(st[1:],v)

In [33]:
solve("education")

5

In [39]:
s=[10,20,30,40,50]
i=0
count=0
while(i<len(s)):
    print(s[i])
    i+=1
    count+=1
print(f"total value= {count}")

10
20
30
40
50
total value= 5

In [141]:
class parent:
    def __init__(self,a):
        self.b=20
        self.var="shani bhai"
        print("my name is parent class",a)
    def ajay(self,c):
        print("i am parent class method")
        d=parent("bhahu")
        self.b.ajay()

In [142]:
s=parent("rahul")

my name is parent class rahul

In [143]:
s.ajay(12)

i am parent class method
my name is parent class bhahu

AttributeError: 'int' object has no attribute 'ajay'

In [1]:
import pandas as pd

In [5]:
df=pd.DataFrame(data=[[1,"Shani","Allahabad"],[2,"Amit","jaunpur"]],columns=["SNo","Name","Address"])

In [6]:
df

   SNo   Name    Address
0    1  Shani  Allahabad
1    2   Amit    jaunpur