In [1]:
a=[1,2,3,4,5,6,7,8,9]

In [2]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
print(*a)

1 2 3 4 5 6 7 8 9

In [6]:
b=(1,2,3,4,5,6,7,8)
print(b)

(1, 2, 3, 4, 5, 6, 7, 8)

In [7]:
print(*b)

1 2 3 4 5 6 7 8

In [8]:
d={1:2,2:3,3:4,4:5,5:6}
print(d)

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

In [15]:
print(*d)

1 2 3 4 5

# appending

In [17]:
a=[1,2,3]
b=[2,3,4]
c=a+b
print(c)

[1, 2, 3, 2, 3, 4]

In [19]:
a=(1,2,3)
b=(2,3,4)
t=a+b
print(t)

(1, 2, 3, 2, 3, 4)

In [26]:
a="shani"
b="kumar"
c=a+b
print(c)

shanikumar

In [29]:
a={1:2,3:4,5:6}
b={"A":"B","c":"D","e":"t"}
d={**a,**b}
print(d)

{1: 2, 3: 4, 5: 6, 'A': 'B', 'c': 'D', 'e': 't'}

In [31]:
a={1,2,3,4,5,6,7,8}
print(*a)

1 2 3 4 5 6 7 8

In [34]:
s="shani"
print(s)

shani

In [37]:
print(*s)

s h a n i

In [61]:
a=0
for i in range(10):
    a+=1
    print(a)
print("total",a)

1
2
3
4
5
6
7
8
9
10
total 10

In [64]:
list=[]
a=["shani"]
for i in a:
    list+=i
    
print(list)

['s', 'h', 'a', 'n', 'i']

In [70]:
a=[1,2,3,4,5,6,7,8,9,0]
s=[]
for i in a:
    s+=i
print(s)

TypeError: 'int' object is not iterable

In [83]:
from datetime import timedelta
print("one days = ",timedelta(days=1).total_seconds(),"second")

one days =  86400.0 second