# datetime module

In [15]:
import datetime

In [8]:
print(datetime.datetime.now())

2020-10-15 11:44:22.152098

In [44]:
a=print(datetime.date.today())

2019-08-14

In [10]:
print(datetime.datetime.today())

2020-10-15 11:44:32.268874

In [11]:
print(datetime.datetime(2019,1,12))

2019-01-12 00:00:00

In [12]:
print(datetime.datetime(2019,1,12,3,3,4))

2019-01-12 03:03:04

In [18]:
cd=datetime.datetime.now()
cd.strftime("%Y")

'2020'

In [20]:
cd=datetime.datetime.now()
cd.strftime("%y")

'20'

In [21]:
cd=datetime.datetime.now()
cd.strftime("%m")

'10'

In [22]:
cd=datetime.datetime.now()
cd.strftime("%a")

'Thu'

In [23]:
cd=datetime.datetime.now()
cd.strftime("%A")

'Thursday'

In [25]:
cd=datetime.datetime.now()
cd.strftime("%w")

'4'

In [28]:
cd=datetime.datetime.now()
cd.strftime("%b")

'Oct'

In [29]:
cd=datetime.datetime.now()
cd.strftime("%B")

'October'

In [33]:
cd=datetime.datetime.now()
cd.strftime("%p")

'AM'

In [35]:
cd=datetime.datetime.now()
cd.strftime("%a")

'Thu'

In [13]:
from datetime import datetime

In [49]:
print(datetime.now())

2019-08-14 23:51:42.095510

In [50]:
print(datetime.today())

2019-08-14 23:51:42.847588

In [55]:
from datetime import timedelta

In [62]:
print(timedelta(microseconds=1,days=7,minutes=30,hours=1))

7 days, 1:30:00.000001

# time module

In [1]:
import time

In [2]:
a=time.strftime("%H:%M:%S")
a

'11:49:11'

In [16]:
print(time.time())

1565850757.4501238

In [17]:
print(time.localtime(time.time()))

time.struct_time(tm_year=2019, tm_mon=8, tm_mday=14, tm_hour=23, tm_min=33, tm_sec=17, tm_wday=2, tm_yday=226, tm_isdst=1)

In [18]:
print(time.asctime(time.localtime(time.time())))

Wed Aug 14 23:34:07 2019

In [19]:
from time import*

In [20]:
print(asctime())

Wed Aug 14 23:34:44 2019

In [21]:
from time import asctime

In [22]:
print(asctime())

Wed Aug 14 23:35:18 2019

# calendar module

In [23]:
from calendar import calendar,month

In [24]:
print(month(2019,12))

   December 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [26]:
print(calendar(2019))

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [28]:
import calendar
print(calendar.prcal(2019))

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31
None

In [1]:

import time
print(time.strftime('%H:%M:%S'))

11:58:35

In [2]:
import time
for i in range(10):
    print(i)
    time.sleep(2)

0
1
2
3
4
5
6
7
8
9

In [10]:
import datetime
print(datetime.datetime.now())

2020-06-12 08:21:21.095801

In [13]:
import datetime
print(datetime.datetime.now().year)

2020

In [14]:
print(datetime.datetime.now().time())

08:22:15.835401

In [16]:
import datetime
print(datetime.datetime.now().day)  #date ki tari dega

12

In [18]:
import datetime
print(datetime.datetime.now().date())

2020-06-12

In [2]:
import datetime
print(datetime.datetime.now().hour)

8

In [15]:
print(datetime.datetime.today().)

2020

In [3]:
from datetime import timedelta

In [18]:
s=timedelta(days=1).total_seconds()
print(f"total second in one day = ",s,"second")

total second in one day =  86400.0 second

In [21]:
s=timedelta(days=1).min
print(f"total second in one day = ",s,"second")

total second in one day =  -999999999 days, 0:00:00 second