# 1st method

In [3]:
subs=2400
likes=200
comment=56
if subs>150 and likes>150 and comment>50:
    print("awesome")

awesome

In [4]:
condition=[subs>150, likes>150,comment>50]

In [5]:
if all(condition):
    print("awesome")
else:
    print("bad")

awesome

# 2nd

In [6]:
subs=2400
likes=200
comment=56
if subs>150 or likes>150 or comment>50:
    print("awesome")

awesome

In [7]:
condition=[subs>150,likes>150,comment>50]

In [8]:
if any(condition):
    print("awesome")
else:
    print("no")

awesome

In [11]:
a=10_000_000_000
b=100_000_000
c=a+b
c

10100000000

In [15]:
print(f"{c:_}")

10_100_000_000

In [16]:
print(f"{c:,}")

10,100,000,000

In [18]:
names=["shani","amit","pradeep","rahul","ajay","arjun","pappu"]
index=0
for i in names:
    print(index,i)
    index+=1

0 shani
1 amit
2 pradeep
3 rahul
4 ajay
5 arjun
6 pappu

In [21]:
names=["shani","amit","pradeep","rahul","ajay","arjun","pappu"]
index=0
while(index<len(names)):
    print(index,names[index])
    index+=1

0 shani
1 amit
2 pradeep
3 rahul
4 ajay
5 arjun
6 pappu

In [23]:
names=["shani","amit","pradeep","rahul","ajay","arjun","pappu"]

for index,name in enumerate(names,1):
    print(index,name)

1 shani
2 amit
3 pradeep
4 rahul
5 ajay
6 arjun
7 pappu

In [27]:
a,b=(1,2)
print(a,b)

1 2

In [28]:
a,b=(1,2,3,4,5)
print("a:",a)

ValueError: too many values to unpack (expected 2)

In [30]:
a,*b=(1,2,3,4,5)
print("a:",a)
print("b:",b)

a: 1
b: [2, 3, 4, 5]

In [31]:
a,b,*c=(1,2,3,4,5)
print("a:",a)
print("b:",b)
print("c:",c)

a: 1
b: 2
c: [3, 4, 5]

In [36]:
a,*b=[1,2,3.5]
b

[2, 3.5]

In [2]:
a=[1,2,3,4,5,6,7,8,9]  #reverse for the list
a[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [3]:
d="shani"
d[::-1]

'inahs'