In [7]:
import pandas as pd
import numpy as np
a=np.arange(50)
a.shape=(10,5)
df=pd.DataFrame(a,columns=["a","b","c","d","e"])

In [8]:
df.head()

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [12]:
def change(x):
    return np.nan

In [17]:
df["e"]=df["e"].apply(change)

In [21]:
df["e"]=df["e"].apply(lambda x:10)

In [20]:
df

    a   b   c   d   e
0   0   1   2   3  10
1   5   6   7   8  10
2  10  11  12  13  10
3  15  16  17  18  10
4  20  21  22  23  10
5  25  26  27  28  10
6  30  31  32  33  10
7  35  36  37  38  10
8  40  41  42  43  10
9  45  46  47  48  10

In [25]:
df['e']=df['e'].apply(lambda x:str(x))

In [26]:
df

    a   b   c   d   e
0   0   1   2   3  10
1   5   6   7   8  10
2  10  11  12  13  10
3  15  16  17  18  10
4  20  21  22  23  10
5  25  26  27  28  10
6  30  31  32  33  10
7  35  36  37  38  10
8  40  41  42  43  10
9  45  46  47  48  10

In [38]:
df['e']=df.e.str.replace("10","30")

In [39]:
df

    a   b   c   d   e
0   0   1   2   3  20
1   5   6   7   8  20
2  10  11  12  13  20
3  15  16  17  18  20
4  20  21  22  23  20
5  25  26  27  28  20
6  30  31  32  33  20
7  35  36  37  38  20
8  40  41  42  43  20
9  45  46  47  48  20

In [72]:
from sklearn.datasets import load_diabetes

In [73]:
dt=load_diabetes()
dt.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

In [74]:
print(dt.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

In [75]:
dt.feature_names

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [76]:
df=pd.DataFrame(dt.data,columns=dt.feature_names)
df["target"]=dt.target

In [77]:
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [78]:
df.isna().sum()

age       0
sex       0
bmi       0
bp        0
s1        0
s2        0
s3        0
s4        0
s5        0
s6        0
target    0
dtype: int64

In [79]:
df.dtypes

age       float64
sex       float64
bmi       float64
bp        float64
s1        float64
s2        float64
s3        float64
s4        float64
s5        float64
s6        float64
target    float64
dtype: object

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
 10  target  442 non-null    float64
dtypes: float64(11)
memory usage: 38.1 KB

In [81]:
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [82]:
from sklearn.model_selection import train_test_split
x_tr,x_ts,y_tr,y_ts=train_test_split(dt.data,dt.target,test_size=0.2)

In [83]:
from sklearn.preprocessing import StandardScaler
sd=StandardScaler()
x_tr=sd.fit_transform(x_tr)
x_ts=sd.transform(x_ts)

In [132]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [180]:
model1=Sequential()
model1.add(Dense(256,activation="relu"))
model1.add(Dropout(0.3))
model1.add(Dense(64))
model1.add(Dense(1))
model1.compile(loss="mse",optimizer="adam",metrics=["mse"])

In [181]:
model1.fit(x_tr,y_tr,epochs=10,batch_size=50)

Train on 353 samples
Epoch 1/10
353/353 [==============================] - 1s 2ms/sample - loss: 28500.5293 - mse: 28500.5293
Epoch 2/10
353/353 [==============================] - 0s 153us/sample - loss: 27660.0176 - mse: 27660.0195
Epoch 3/10
353/353 [==============================] - 0s 241us/sample - loss: 26652.6680 - mse: 26652.6680
Epoch 4/10
353/353 [==============================] - 0s 156us/sample - loss: 25326.4910 - mse: 25326.4902
Epoch 5/10
353/353 [==============================] - 0s 165us/sample - loss: 23656.3152 - mse: 23656.3145
Epoch 6/10
353/353 [==============================] - 0s 224us/sample - loss: 21435.9260 - mse: 21435.9258
Epoch 7/10
353/353 [==============================] - 0s 184us/sample - loss: 18750.1143 - mse: 18750.1152
Epoch 8/10
353/353 [==============================] - 0s 150us/sample - loss: 15631.4663 - mse: 15631.4658
Epoch 9/10
353/353 [==============================] - 0s 153us/sample - loss: 12578.8120 - mse: 12578.8115
Epoch 10/10
353/353 [==============================] - 0s 139us/sample - loss: 9781.9527 - mse: 9781.9531

In [176]:
model1.evaluate(x_ts,y_ts)

89/89 [==============================] - 0s 2ms/sample - loss: 4568.7777 - mse: 4568.7778

[4568.777738764045, 4568.778]

In [177]:
from sklearn.metrics import r2_score

In [178]:
pr=model1.predict(x_ts)

In [179]:
r2_score(y_ts,pr)

0.2343083759451381