# zip

dono ko ek me badh deta hai.

In [1]:
l=[1,2,3,4,5]
l1=["a","b","c","d"]

In [2]:
list=print(list(zip(l,l1)))
list

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [3]:
print(dict(zip(l,l1)))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [4]:
print(tuple(zip(l,l1)))

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'))

# map 
maping karna matlab list dict,str,iteratbe series ki value ko change karna

In [1]:
a=["shani","kumar","pradeep","ajay"]
print(list(map(len,a)))

[5, 5, 7, 4]

In [2]:
a=["shani","kumar","pradeep","ajay"]
print(list(map(max,a)))

['s', 'u', 'r', 'y']

In [3]:
a=["shani","kumar","pradeep","ajay"]
print(list(map(min,a)))

['a', 'a', 'a', 'a']

In [4]:
a=["shani","kumar","pradeep","ajay"]
print(list(map(str.upper,a)))

['SHANI', 'KUMAR', 'PRADEEP', 'AJAY']

In [5]:
a=["shani","kumar","pradeep","ajay"]
print(list(map(str.title,a)))

['Shani', 'Kumar', 'Pradeep', 'Ajay']

In [6]:
a=["shani","kumar","pradeep","ajay"]
print(list(map(str.swapcase,a)))

['SHANI', 'KUMAR', 'PRADEEP', 'AJAY']

In [13]:
a=["shani","kumar","pradeep","ajay"]
print(list(map(lambda x:x.title(),a)))

['Shani', 'Kumar', 'Pradeep', 'Ajay']

In [2]:
def add(n):
    return (n+n)
l=[1,2,3,4,5,6,7,8]
result=list(map(add,l))
result

[2, 4, 6, 8, 10, 12, 14, 16]

In [3]:
for i in result:
    print(i)

2
4
6
8
10
12
14
16

In [4]:
l=[1,2,3,4,5,6]
y=map(lambda x:x*2,l)
for i in range(len(l)):
    print(next(y),end=",")

2,4,6,8,10,12,

In [106]:
l=[1,2,3,4,5,6]
y=map(lambda x:x*2,l)
for i in l:
    print(next(y),end=",")

2,4,6,8,10,12,

# enumerate

In [104]:
x=("apple","banana","cherry")
y=enumerate(x)
for i in x:
    print(next(y))

(0, 'apple')
(1, 'banana')
(2, 'cherry')

In [9]:
x=("apple","banana","cherry")
y=list(enumerate(x))
y

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [10]:
x=("apple","banana","cherry")
y=list(enumerate(x,100))
y

[(100, 'apple'), (101, 'banana'), (102, 'cherry')]

In [117]:
l=(1,2,3,4,5)
a=map(lambda x:x*2,l)
print(a)

<map object at 0x0000019D2E121C18>

In [5]:
l=(1,2,3,4,5)
a=list(map(lambda x:x*2,l))
print(a)

[2, 4, 6, 8, 10]

# list comprehesion

In [118]:
s=[]
for i in range(4):
    s.append(i**2)
print(s)

[0, 1, 4, 9]

In [120]:
s1=[i**2 for i in range(5)]
print(s)

[0, 1, 4, 9]

In [131]:
s2=[i**3 for i in range(10)]

In [132]:
s2

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

# eval function

In [1]:
a=10
b=20
eval("a+b")

30

In [3]:
d=eval("20+3")
print(d)

23

In [4]:
eval('2**3')

8

In [5]:
a=90
b=20
c=20
eval("a+b**2+c")

510

# filter function

In [23]:
a=[1,2,3,4,5,6]
d=filter(lambda x:x%2==0,a)  
for i in d:
    print(i)

2
4
6

In [8]:
a=[1,2,3,4,5,6]
d=list(filter(lambda x:x%2==0,a))
d

[2, 4, 6]

In [17]:
a=[1,2,3,4,5,6]
s=filter(lambda x:x+2==4,a)  #mujhe vo value nikal ke do jaha x+2=4 ho
for i in s:
    print(i)

2

In [21]:
a=[1,2,3,4,5,6]
print(list(filter(lambda x:x+2==4,a)))

[2]

In [13]:
a=[1,2,3,4,5,6]
d=filter(lambda x:x%2,a)  # jo true aayega means jo 1 aayega uski value  return krega.
for i in d:
    print(i)

1
3
5

In [14]:
a=[1,2,3,4,5,6]
d=map(lambda x:x%2,a)
for i in d:
    print(i)

1
0
1
0
1
0

In [29]:
a=[1,2,3,4,5,6]
d=map(lambda x:x+2,a)  # jab koi changes karna ho list ki value me tab map use kar lo.
for i in d:
    print(i)

3
4
5
6
7
8

# Reduce function

# reduce function is used in series program

In [2]:
from functools import reduce
a=[1,2,3,4,5,6,7,8,9]
d=reduce(lambda x,y:x+y,a)
d

45

In [3]:
sum(a)

45

In [4]:
reduce(lambda x,y:x*y,a)

362880

In [ ]:
reduce(lambda x,y:x)

In [1]:
c=[1/2,1/2,1/2,1/2,1/2]

In [4]:
sum=reduce(lambda x,y:x+y,c)

In [5]:
print(sum)

2.5