In [1]:
def fun(n):
    if n==0:
        return 0
    else:
        return n%10+fun(n//10)

In [3]:
fun(124)

7

In [9]:
def fun(s):
    if len(s)==0:
        return ""
    return s[-1].upper()+fun(s[:-1])
fun("shani kumar bharati")

'ITARAHB RAMUK INAHS'

In [5]:
def fun(n,rev=0):
    if n==0:
        return 0
    else:
        
    return n%10+fun(n//10)

In [6]:
fun(123)

6

# armstrong no

In [17]:
def fun(n):
    if n==0:
        return 0 
    return (n%10)**4+fun(n//10)

n=int(input("enter the no "))
if n==fun(n):
    print("no is armstrong")
else:
    print("no is not armstrong")

enter the no 1634
no is armstrong

# length of no

In [18]:
def fun(n):
    if n==0:
        return 0 
    return 1+fun(n//10)

In [20]:
fun(12341)

5

In [21]:
def fun(lst):
    if len(lst)==0:
        return 0
    return 1+fun(lst[1:])

In [22]:
fun([10,20,30,40])

4